{extends layout.latte}

{block title}Dashboard{/block}

{block body}
    <script type="text/javascript" src="{$basePath}/js/devices.js"></script>
    <div class="container">
       
       <h1>Top devices</h1> 
       <div class="row">
        
        {foreach $devices as $d}
                <div class="col-sm">
                <img src="{$basePath}/assets/icons/{$d['id_device_type']}.svg" width="200px" alt="picture">
                <p>{$d['name']} - {$d['type_name']}</p>
                {if $d['state'] == 1}
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-port-id="{$d['id_port']}"></td>
                {else}
                <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-port-id="{$d['id_port']}"></td>
                {/if}

            </div>
        {/foreach}
        </div>
        
      
       
            

          <!--  <div class="col-sm">
                <img src="{$basePath}/assets/icons/036-heater.svg" width="200px" alt="TV">
                <p>Water heater</p>
            
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"></td>
                <p>starts at: 5 AM</p>
            </div>

            <div class="col-sm">
                <img src="{$basePath}/assets/icons/001-air-conditioning.svg" width="200px" alt="TV">
                <p>Air conditioning</p>
            
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"></td>
            </div>
            </div>-->
        
        

    </div>
    <script type="text/javascript" src="{$basePath}/js/chart.js"></script>
{/block}

