<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">


    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body style="background-color: #ededed">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="nav1">
        <a class="navbar-brand" href="{link index}">
            <img src="{$basePath}/assets/pics/brand.svg" width="100px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="mainNav" >
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{link index}"> Dashboard</a>
                <a class="nav-item nav-link" href="{link listDevices}"> List of devices</a>
                <a class="nav-item nav-link" href="{link newDevicePage}"> New device</a>
                <a class="nav-item nav-link" href="{link listSchedules}"> Schedules</a>
            </div>

        </div>
    
    </nav>


    {if isset($alert)}
        <p class="alert-danger">{$alert}</p>
    {/if}
    {if isset($info)}
        <p class="alert-success">{$info}</p>
    {/if}
    {if isset($warn)}
        <p class="alert-warning">{$warn}</p>
    {/if}
<div id="page-content">

{include body}

</div>

<footer class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Tomáš Lepič, Daniel Novák - Icons by srip from www.flaticon.com</small>
    </div>
  </footer>
</body>

</html>