{extends layout.latte}

{block title}Devices list{/block}



{block body} 
<script type="text/javascript" src="{$basePath}/js/devices.js"></script>
 <div class="container">    
    
    <h1>List of devices</h1>
        <table class="table table-responsive" id="people">
            <thead class="thead-dark">
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Name</b></th>
                    <th><b>Port</b></th>
                    <th>Action</th>
                    <th>State</th>
                </tr>
            </thead>
                
                {foreach $devices as $d}
                <tr>
                    <td>{$d['id']}</td>
                    <td>{$d['name']}</td>
                    <td>{$d['id_port']}</td>
                    <td><form action="{link deleteDevice}" method="post" onsubmit="return confirm('Really?')">
                            <input type="hidden" name="id" value="{$d['id']}">
                            <input type="submit" value="Delete" class="btn btn-danger"></input>
                        </form>
                    <td>
                    {if $d['state'] == 1}
                    <input id="toggle-event" data-port-id="{$d['id_port']}"  type="checkbox" checked  data-toggle="toggle" data-onstyle="success"></td>
                    {else}
                    <input id="toggle-event" data-port-id="{$d['id_port']}" type="checkbox"  data-toggle="toggle" data-onstyle="success"></td>
                    {/if}

                </tr>
                
                {/foreach} 
                
        </table>
    
    
    
</div>


{/block}