{extends layout.latte}

{block title}Schedules{/block}


{block body} 
<script type="text/javascript" src="{$basePath}/js/schedules.js"></script>
 <div class="container">
    <div class="row">
    
    <h1>List of schedules</h1>
        <table class="table table-responsive" id="people">
            <thead class="thead-dark">
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Begin</b></th>
                    <th><b>End</b></th>
                    <th>Action</th>
                    <th>State</th>
                </tr>
            </thead>
                
                {foreach $schedules as $s}
                <tr>
                    <td>{$s['id_schedule']}</td>
                    <td>{$s['start']}</td>
                    <td>{$s['stop']}</td>
                    <td><form action="{link deleteSchedule}" method="post" onsubmit="return confirm('Really?')">
                            <input type="hidden" name="id" value="{$s['id_schedule']}">
                            <input type="submit" value="Delete" class="btn btn-danger"></input>
                        </form></td>
                    <td>
                    {if $s['state'] == 1}
                    <input type="checkbox" checked data-toggle="toggle" data-schedule-id="{$s['id_schedule']}" data-onstyle="success">
                    {else}
                    <input type="checkbox" data-toggle="toggle" data-schedule-id="{$s['id_schedule']}" data-onstyle="success">
                    {/if}
                    </td>
                </tr>
                {/foreach} 

        </table>
        </div>
        <div class="row">

        
        <form action="{link newSchedule}" method="post" class="form-horizontal">
            <div class="form-group">
                <label><span style="color: red;">*</span>Begin</label>
                <input type="time" name="start" class="form-control" required></input>
            </div>

            <div class="form-group">
                <label><span style="color: red;">*</span>End</label>
                <input type="time" name="stop" class="form-control" required></input>
            </div>
            
            <div class="form-group">
                <label><span style="color: red;">*</span>State</label>
                <select name="state" class="form-control" required>
                    <option value="0">Off</option>
                    <option value="1">On</option>
                </select>
            </div>
            
           
                <button type="submit" class="btn btn-primary">Create</button>
                <p><span style="color: red;">*</span>Required</p>
        </form>

        </div>
</div>




{/block}