{extends layout.latte}

{block title}New device{/block}

{block body}

    <div class="container">
        <h1>New device</h1>
        <form action="{link newDevice}" method="post" class="form-horizontal">
            <div class="form-group">
                <label><span style="color: red;">*</span>Full name</label>
                <input type="text" name="device_name" class="form-control" required></input>
            </div>
            
            <div class="form-group">
                <label><span style="color: red;">*</span>Board port</label>
                <select name="port" class="form-control" required>
                    {foreach $available_ports as $port} 
                        <option value="{$port}">{$port}</option>
                    {/foreach}
                </select>
            </div>
            
            <div class="form-group">
                <label>Type of device (like TV) - Optional</label>
                <select name="type" class="form-control">
                    {foreach $types as $type}
                        <option value="{$type['id_device_type']}">{$type['id_device_type']} {$type['type_name']} </option>
                        
                    {/foreach}
                </select>
            
            </div>
           
            <div class="form-group">
                <h2>Schedule - Optional</h2>
                <select name="schedule" class="form-control">
                    {foreach $schedules as $schedule}
                        <option value="{$schedule['id_schedule']}">From: {$schedule['start']} To: {$schedule['stop']} State: {$schedule['state']} </option>
                    {/foreach}
                </select>

            </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <p><span style="color: red;">*</span>Required</p>
        </form>

    </div>
{/block}